/*==============================================================================
  ■MJLibsトップページ用css
================================================================================*/
/*++++++++++++++++++++++++++++++++++++++++++++++++
  ■初期設定
++++++++++++++++++++++++++++++++++++++++++++++++++*/
body {
  font-size : 14px;
  font-family:"メイリオ", "ＭＳ Ｐゴシック", sans-serif;
  margin : 0; padding : 0;
  background-color : rgba(240,240,240,1);
  color : rgba(60,60,60,1);
}
header, footer, article, section, aside, nav, main, div {
  box-sizing : border-box;
}
div {
  position : relative;
}
a, a:link, :visited {
  color : rgba(20,160,255,1);
  text-decoration : none;
}
a:hover {
  color : rgba(0,20,154,1);
  text-decoration : underline;
}
img, span, a, input {
  display : inline-block;
  vertical-align : middle;
}
h1,h2,h3,h4 { padding:0; margin:0; }
/*++++++++++++++++++++++++++++++++++++++++++++++++
  ■色
++++++++++++++++++++++++++++++++++++++++++++++++++*/
.JMRed {
  background-color : rgba(255,120,90,1);
}
/*++++++++++++++++++++++++++++++++++++++++++++++++
  ■ボタン
++++++++++++++++++++++++++++++++++++++++++++++++++*/
.BTN {
  padding : 4px 8px;
  background-color : rgba(210,210,210,1);
  border : solid 1px rgba(180,180,180,1);
  text-align : center;
}
.BTN:hover {
  cursor : pointer;
  background-color : rgba(245,252,255,1);
  color : rgba(60,190,240,1);
}
/*++++++++++++++++++++++++++++++++++++++++++++++++
  ■構造
++++++++++++++++++++++++++++++++++++++++++++++++++*/
.ArticlePage {
  width : 100%; height : 100%;
  padding : 0;
}
.ArticlePageHeader {
  width : 100%; height : 40px;
  background-color : rgba(210,240,255,1);
  color : rgba(0,80,130,1);
  padding-left : 20px;
  padding-top : 4px;
}
.ArticlePageSection {
  width : 100%; height : calc( 100% - 40px );
  background-color : white;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++
  ■テーブル
++++++++++++++++++++++++++++++++++++++++++++++++++*/
.MainBox {
  width : 100%;
  padding : 10px;
}
.RowBox {
  width : 90%;
  display : flex;
}
.MainBox .RowBox .CellBox {
  border-bottom : solid 1px rgba(140,140,140,1);
  border-right : solid 1px rgba(140,140,140,1);
  padding : 4px;
}
.MainBox .RowBox:first-child .CellBox {
  border-top : solid 1px rgba(140,140,140,1);
}
.MainBox .RowBox .CellBox:first-child {
  border-left : solid 1px rgba(140,140,140,1);
}
.CellBox.Column {
  background-color : rgba(220,245,255,1);
}
.FlexEnd {
  display : flex;
  justify-content : flex-end;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++
  ■幅指定
++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Flex固定 */
.FAWid100 { flex: 0 0 100px; max-width:100px; }
.FAWid160 { flex: 0 0 160px; max-width:160px; }
.FAWid240 { flex: 0 0 240px; max-width:240px; }
/* Flex可変 */
.FFWid100 { flex: 1 0 auto; min-width:100px; }
.FFWid160 { flex: 1 0 auto; min-width:160px; }
/*++++++++++++++++++++++++++++++++++++++++++++++++
  ■マージン
++++++++++++++++++++++++++++++++++++++++++++++++++*/
.MarginTop4 { margin-top:4px; }
